<div class = "item grid">
          <i class="calendar outline icon"></i>
          <div class = "content">
            <a href="/home/<%= course.name %>" class = "header">课程名称: <%= course.name %></a>
            <div class = "description">管理员: <%= course.manager %></div>
            <div class = "description"> 课程描述: <%= course.bio %></div>
          </div>
</div>