<div class="item">
  <i class="calendar outline icon"></i>
  <div class="content">
    <a class="header" href="/home/<%= course.name %>"><%= course.name %></a>
      <div class="meta">
        <span class="cinema">星期二 9:30-11:30</span>
      </div>
      <div class="description">
        <p><%= course.bio %></p>
      </div>
  </div>
 </div>