<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
          <a class="item" href="/home/<%= course.name %>/qrcode">点击签到</a>
          <a class="item" href="/home/<%= course.name %>/exam">点击测试</a>
      </div>
    </div>
  </div>
</div>