<%- include('header') %>

<div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column ui grid segment">
    <div class = "three wide column">
      <div  class = "ui list">
        <a class = "item"  href="/createCourse">
          <i class = "user icon"></i>
          <div class = "content">新建课程</div>
        </a>
        <a class = "item">
          <i class = "user icon"></i>
          <div class = "content">实时评测</div>
        </a>

        <a class = "item">
          <i class = "user icon"></i>
          <div class = "content">我的课程</div>
        </a>

      </div>
    </div>
      
    <div class = "twelve wide column">
      <div class = "ui list segment">

        <% courses.forEach(function (course) { %>
        <%- include('components/courses', { course: course }) %>
        <% }) %>

      </div>
    </div>

  </div>
</div>
<%- include('footer') %>