<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.js"></script>
    <link href="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
</head>
<body>
<h1><%= title %></h1>
<img class="ui centered medium image" src="/home/<%= course %>/sign/create_qrcode?text=http://blog.csdn.net/fo11ower"/>
</body>
</html>