<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>签到</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
  </head>
  <body>
  <%- include('components/notification') %>

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  输入签到信息
</h2>

<div class="ui grid">
  <div class="four wide column">
  </div>

  <div class="eight wide column">
    <form class="ui form segment" method="post" action="/home/<%= course %>/sign">
      <div class="field required">
        <label>学号</label>
        <input type="text" name="number" placeholder="请输入你的学号">
      </div>
      <div class="field required">
        <label>姓名</label>
        <input type="text" name="name" placeholder="请输入你的姓名">
      </div>
      <input type="submit" class="ui button" value="提交">
    </div>
  </form>
</div>

<%- include('footer') %>