<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a class = "header_a" href="/signin"><h1><%= pagetitle %></h1></a>
      <p><%= blog.description %></p>
    </div>
  </div>
</div>