<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>注册</title>
</head>
<body>
<form  method="POST" name="Rform">
username: <input type="text" name="username" placeholder="请输入用户名" id="Rusername">

<span id="RUtips">用户名不能为空</span><br/>
password: <input type="text" name="password" placeholder="请输入密码" id="Rpassword">

<span id="RPtips">密码不能为空</span><br/>
confirm password : <input type="text" name="cpassword" placeholder="请再次输入密码" id="RCpassword">

<span id="RCPtips"></span><br/>
email: <input type="text" name="email" placeholder="请输入邮箱" id="Remail">
<span id="REtips">邮箱不能为空</span><br/>
<input type="submit" value="注册" id="Rbutton">
</form>
</body>
<!-- <script src = "jquery.min.js"></script> -->
<!-- <script src="register.js"></script> -->

</html>